* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  overflow: hidden;
  background: #dbf6e9;
}

.header nav img {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  height: 100px;
}

.header nav ul {
  padding: 0;
  float: right;
  margin-right: 100px;
}

.header nav ul li {
  text-align: center;
  float: left;
  margin: 40px 20px;
  padding: 5px;
  list-style: none;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 18px;
}

.jumbotron img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.profil_pic img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.container {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: #f8f5f1;
  padding: 20px 100px 20px 100px;
  margin: 0 auto;
}

.box {
  margin: 5px;
}

.first {
  flex-grow: 1;
}

.second {
  flex-grow: 6;
}

.content p {
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #dbf6e9;
  color: black;
  text-align: center;
}

.footer p {
  padding-top: 20px;
  font-size: 16px;
}
